html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #F6F5EC;
}
img .d-inline-block {
    border-radius: 50%;
}
.navbar-light {
    background-color: #EFE7DA;
}
.navbar-brand {
    /* color: #B29079; */
    font-weight: bold;
}
.nav-link {
    /* color: #B29079; */
    font-weight: bold;
    font-size: larger;
}
.jumbotron {
    background-color: #C1B6A4;
}
#jumbo-header {
    font-size: 50px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.gallery {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
}